body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #222;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.card {
  margin-bottom: 20px;
  padding: 15px;
  background: white;
  border-radius: 6px;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
}

.anomaly {
  background-color: #ffe5e5;
}